:root {
    --gray-100: #f5f5f5;
    --gray-200: #e0e0e0;
    --gray-300: #c0c0c0;
    --gray-400: #a0a0a0;
    --gray-500: #808080;
    --gray-600: #606060;
    --gray-700: #404040;
    --gray-800: #202020;
    --gray-900: #000000;


--primary-light: #00fc4c;
--primary: #039b35;
--primary-dark: #013610;

--link-color: #38bd38;
--link-hover: #288a28;

--success: #00ff00;
--warning: #ffee00;
--error: #ff0202;
--info: #0ed1f3;



--text-over-primary: #000000;
--text-over-primary-dark: #ffffff;
--text-over-primary-light: #000000;
--text-over-success: #000000;
--text-over-warning: #000000;
--text-over-error: #ffffff;
--text-over-info: #000000;


--text-default: #535252;
--text-muted: #746e6e;


--disabled: #666666;
--disabled-text: #ffffff;

}


:root[data-theme="light"] {
    --gray-100: #000000;  
    --gray-200: #252525;
    --gray-300: #474747;
    --gray-400: #616060;
    --gray-500: #9c9b9b;
    --gray-600: #9e9d9d;
    --gray-700: #cccaca;
    --gray-800: #dddbdb;
    --gray-900: #fffdfd;

--text-default: #000000;
--text-muted: #474646;


--link-color: #38bd38;
--linkhover: #185318;

}
