.logo {
    margin: 3.2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    padding: 3.2rem;
}

.logoLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    font-size: 4.2rem;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    color: var(--primary);
}

.logoLink:hover {
    filter: brightness(80%);
}


.logoLink svg {
    width: 6.4rem;
    height: 6.4rem;
}