.cycles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}



.cyclesDots {
    display: flex;
    gap: 0.5rem;
   
}

.cyclesDot {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--primary);
    border-radius: 50%;
}

.workTime{
background: var(--warning);

}
.shortBreakTime{
background: var(--primary);
}

.longBreakTime{
background: var(--info) ;
}